{% extends "../landing_page/main.html" %}

{% block content %}
<table class="table table-borderless">
    <thead>
        <tr>
            <td>Nome da tarefa</td>
            <td>Descrição da tarefa</td>
            <td>Data da tarefa</td>
            <td>Disciplina</td>
            <td><a href="{% url 'tarefa_insert' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Adicionar Nova Tarefa</a></td>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in tarefa_list %}
        <tr>
            <td>{{tarefa.nome}}</td>
            <td>{{tarefa.descricao}}</td>
            <td>{{tarefa.data_tarefa}}</td>
            <td>{{tarefa.disciplina}}</td>
            <td>
                <a href="{% url 'tarefa_update' tarefa.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'tarefa_delete' tarefa.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

