{% extends "compromisso/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.nome|as_crispy_field}}
    {{form.descricao|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.data_compromisso|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.disciplina|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"> <i class="fas fa-database"></i> Salvar </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'compromisso_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fa fa-stream"></i>Voltar para a Lista de Compromissos</a>
        </div>
    </div> 
</form>
{% endblock content %}

