{% extends "compromisso/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead>
        <tr>
            <td>Nome do compromisso</td>
            <td>Descrição do compromisso</td>
            <td>Data do compromisso</td>
            <td>Disciplina</td>
            <td><a href="{% url 'compromisso_insert' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Adicionar Novo Compromisso</a></td>
        </tr>
    </thead>
    <tbody>
        {% for compromisso in compromisso_list %}
        <tr>
            <td>{{compromisso.nome}}</td>
            <td>{{compromisso.descricao}}</td>
            <td>{{compromisso.data_compromisso}}</td>
            <td>{{compromisso.disciplina}}</td>
            <td>
                <a href="{% url 'compromisso_update' compromisso.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'compromisso_delete' compromisso.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

