{% extends "disciplinas/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead>
        <tr>
            <td>Nome da disciplina</td>
            <td>Professor da disciplina</td>
            <td>Carga horária da disciplina</td>
            <td>Código da disciplina</td>
            <td><a href="{% url 'disciplinas_insert' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Adicionar Nova Disciplina</a></td>
        </tr>
    </thead>
    <tbody>
        {% for disciplinas in disciplinas_list %}
        <tr>
            <td>{{disciplinas.nome}}</td>
            <td>{{disciplinas.professor}}</td>
            <td>{{disciplinas.carga_horaria}}</td>
            <td>{{disciplinas.codigo_disciplina}}</td>
                <a href="{% url 'disciplinas_update' disciplinas.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'disciplinas_delete' disciplinas.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

