{% load static %} 

<!DOCTYPE html> 
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SABIDO: Student Appointment Book Integrated with Django On the fly</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'resources/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'resources/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/assets/img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'resources/img/image-main.png' %}" alt="logo" height="80%" width="80%">
                </div>
                <div class="sidebar-brand-text mx-3">SABIDO</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Funcionalidades
            </div>

            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDisciplinas"
                    aria-expanded="true" aria-controls="collapseDisciplinas">
                    <i class="fas fa-square-root-alt"></i>
                    <span>Disciplinas</span>
                </a>
                <div id="collapseDisciplinas" class="collapse" aria-labelledby="headingDisciplinas"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu Disciplinas</h6>
                        <a class="collapse-item" href="{% url 'disciplina_list' %}">Lista de Disciplinas</a>
                        <a class="collapse-item" href="{% url 'disciplina_insert' %}">Nova Disciplina</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTarefas"
                    aria-expanded="true" aria-controls="collapseTarefas">
                    <i class="fas fa-tasks"></i>
                    <span>Tarefas</span>
                </a>
                <div id="collapseTarefas" class="collapse" aria-labelledby="headingTarefas"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu Tarefas</h6>
                        <a class="collapse-item" href="{% url 'tarefa_list' %}">Lista de Tarefas</a>
                        <a class="collapse-item" href="{% url 'tarefa_insert' %}">Nova Tarefa</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAlunos"
                    aria-expanded="true" aria-controls="collapseAlunos">
                    <i class="fas fa-user-graduate"></i>
                    <span>Alunos</span>
                </a>
                <div id="collapseAlunos" class="collapse" aria-labelledby="headingAlunos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu Alunos</h6>
                        <a class="collapse-item" href="{% url 'aluno_list' %}">Lista de Alunos</a>
                        <a class="collapse-item" href="{% url 'aluno_insert' %}">Novo Aluno</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCursos"
                    aria-expanded="true" aria-controls="collapseCursos">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Cursos</span>
                </a>
                <div id="collapseCursos" class="collapse" aria-labelledby="headingCursos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu Cursos</h6>
                        <a class="collapse-item" href="{% url 'curso_list' %}">Lista de Cursos</a>
                        <a class="collapse-item" href="{% url 'curso_insert' %}">Novo Curso</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLembretes"
                    aria-expanded="true" aria-controls="collapseLembretes">
                    <i class="fa fa-sticky-note"></i>
                    <span>Lembretes</span>
                </a>
                <div id="collapseLembretes" class="collapse" aria-labelledby="headingLembretes"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu Lembretes</h6>
                        <a class="collapse-item" href="{% url 'lembrete_list' %}">Lista de Lembretes</a>
                        <a class="collapse-item" href="{% url 'lembrete_insert' %}">Novo Lembrete</a>
                    </div>
                </div>
            </li> 

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Aluno</span>
                                <img class="img-profile rounded-circle" src="{% static 'resources/img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configurações
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10%;">
                        <h1 class="h1 mb-0 text-gray-800">SABIDO: Student Appointment Book Integrated with Django On the Fly</h1>  
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4" style="margin-left: 25%;">

                            {% block content %}

                            <img src="{% static 'resources/img/image-main.png' %}" alt="logo" height="100%" width="100%">

                            {% endblock content %}

                        </div>

                    
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <strong> SABIDO </strong> </span> <br />
                        Todos os direitos reservados. <br />
                        Feito com <i class="fas fa-heart" style="color: red"></i> por alunos do curso Bacharelado em Sistemas de Informação da UFRN - CERES - Campus de Caicó. 
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Logout" abaixo se você está pronto para finalizar sua sessão atual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'landing_page' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'resources/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'resources/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'resources/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'resources/js/sb-admin-2.min.js' %}"></script>

</body>

</html>

