{% extends "alunos/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead>
        <tr>
            <td>Nome do Aluno</td>
            <td>Username</td>
            <td>Data de Nascimento</td>
            <td>Email</td>
            <td><a href="{% url 'aluno_insert' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>Adicionar Nova Disciplina</a></td>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos_list %}
        <tr>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.username}}</td>
            <td>{{aluno.dataNasc}}</td>
            <td>{{aluno.email}}</td>
                <a href="{% url 'aluno_update' aluno.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'alunos_delete' aluno.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}